.toggle{
    position: absolute;
    bottom : 19rem;
    z-index: 5;
    left : 13rem;
    
    
}
.toggle:hover{
  color: red;
  background-color: rgb(62, 185, 62);
}

.back_fetch{
  position:relative;
  right: 25rem;
  bottom: 5rem;
  color: red;
  background-color: black;
}